<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to my webpage</title>
 </head>

  <body>
  {{> header}}


  <h1>{{pageTitle}}</h1>

  <!-- <p>{{screamIt bodyText}}</p> -->
<!-- {{> footer}} -->

  </body>
</html>
